# Xcode
DerivedData/
build/

# User settings
xcuserdata/
*.xcuserstate

# macOS
.DS_Store

# Swift Package Manager
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/

# Archives
*.xcarchive

# Secrets
Scene/Config.xcconfig
Scene/Network/Secrets.swift
*.xcconfig