# Xcode
DerivedData/
.build/

# User-specific Xcode files
*.xcuserstate
xcuserdata/
../Scene.xcodeproj/project.pbxproj

# Swift Package Manager
.swiftpm/
.build/

# macOS
.DS_Store

# Secrets
.env
Secrets.swift
Config.swift
Secret/Config.xcconfig

# Fastlane (if used)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Logs
*.log
